.colaborador {
  position: relative;
  width: 300px;
  margin: 20px 20px;
}

.colaborador .cabecalho {
  background-color: #cacbd5;
  border-radius: 10px 10px 0px 0px;
}

.colaborador img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.colaborador .rodape {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 70px;
  padding-bottom: 40px;
  height: 180px;
}

.colaborador .rodape h4 {
  color: #f1485b;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 0px 5px;
}

.colaborador .rodape h5 {
  font-size: 18px;
  line-height: 22px;
  color: #33546d;
  padding: 0px 16px 20px;
}

.deletar {
  position: absolute;
  right: -10px;
  top: -10px;
}

.favoritar {
  position: absolute;
  left: 10px;
  top: 10px;
}
