.banner {
  background: #33546d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner ul li {
  display: inline-block;
  margin-right: 32px;
}

.banner ul li:last-child {
  margin-right: 32px;
}

.banner-logo {
  width: 30%;
  border-radius: 50%;
  padding: 0 10px;
}

h1 {
  font-size: 30px;
  color: #f1485b;
  border-bottom: 4px solid #f1485b;
  display: inline-block;
  padding-bottom: 10px;
}

.nav-icons {
  width: 30px;
}
